<div class="container">
    <div class="advertisements-title-container">
        <h1 class="advertisements-title">Advertisements</h1>
    </div>
    <div class="advertisements">

        <!--Should be add ngFor -->

        <div class="adv">
            <div class="adv-title">Some Header</div>
            <div class="adv-body">
                <img src="../../assets//images/1.jpg" alt="">
                <div class="overlay">
                    <button class="adv-button">More information</button>
                </div>
            </div>
        </div>
        <div class="adv">
            <div class="adv-title">Some Header</div>
            <div class="adv-body">
                <img src="../../assets//images/1.jpg" alt="">
                <div class="overlay">
                    <button class="adv-button">More information</button>
                </div>
            </div>
        </div>
        <div class="adv">
            <div class="adv-title">Some Header</div>
            <div class="adv-body">
                <img src="../../assets//images/1.jpg" alt="">
                <div class="overlay">
                    <button class="adv-button">More information</button>
                </div>
            </div>
        </div>
        <div class="adv">
            <div class="adv-title">Some Header</div>
            <div class="adv-body">
                <img src="../../assets//images/1.jpg" alt="">
                <div class="overlay">
                    <button class="adv-button">More information</button>
                </div>
            </div>
        </div>
    </div>
</div>