<navbar></navbar>
<div class="container">
    <div class="about-title-container">
        <h1 class="about-title">About me</h1>
    </div>
    <div class="about-photo-container">
        <img src="../../assets/images/photo.jpg" alt="photo">
        <div class="about-text-container">
            <h1 class="about-name">Zakutko Serhii</h1>
            <p class="about-position">Full-Stack .Net Developer with Angular/React</p>
            <div class="about-description">
                <div class="about-server-client-side">
                    <h2 class="about-server-client-side-title">Technologies(Server side):</h2>
                    <ul>
                        <li>Microservices</li>
                        <li>.Net Core Web Api</li>
                        <li>Entity Framework Core(Dapper)</li>
                        <li>MassTransit(RabbitMq)</li>
                        <li>Docker</li>
                        <li>MS SQL</li>
                    </ul>
                </div>
                <div class="about-server-client-side">
                    <h2 class="about-server-client-side-title">Technologies(Client side):</h2>
                    <ul>
                        <li>Angular</li>
                        <li>Typescript</li>
                        <li>SCSS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>