<div class="navbar">
    <div class="container">
        <div class="about-me-container">
            <div class="about-me">
                <a routerLink="about" class="about-me-title">About me</a>
            </div>
        </div>
        <div class="logo">
            <a class="logo-title" routerLink="">Advertising Agency</a>
        </div>
        <div class="login-register-buttons">
            <button class="button" (click)="onRegisterClick()">Register</button>
            <button class="button" (click)="onLoginClick()">Login</button>
        </div>
    </div>
</div>